<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.developer.mahendra.pencarianmagangumb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditProfilAdmin" />
        <activity android:name=".ImageProfilPreview" />
        <activity android:name=".EditProfilUser" />
        <activity android:name=".MagangPost" />
        <activity android:name=".MagangDetailAdminActivity" />
        <activity android:name=".MagangDetailUserActivity" />
        <activity
            android:name=".NotificationDetailActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ViewUserCv"></activity>
    </application>

</manifest>